<!-- app/team/leadership/template.hbs -->

<!-- {{outlet}} -->
<h3> Leadership Team Members </h3>
<div class="row">
  {{#each model as |leader|}}
    <div class="col-sm-4">
      <h4>First Name: {{leader.givenName}}</h4>
      <h4>Last Name: {{leader.surname}}</h4>
      <h5>Title: {{leader.title}}</h5>
    </div>
  {{/each}}
</div>
