<!-- app/team/leadership/template.hbs -->

<!-- {{outlet}} -->
<h3> Leadership Team Members </h3>
<div class="row">
  {{#each model as |leader|}}
    <div class="col-sm-4">
      {{#link-to 'team.leader' leader tagName="h4"}} {{leader.givenName}} {{/link-to}}
    </div>
  {{/each}}
</div>
