<h1> Welcome to Ember Corp! </h1>

<nav>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'team'}}Team{{/link-to}}
  {{#link-to 'contact'}}Contact{{/link-to}}
</nav>

{{outlet}}
