<!-- app/team/engineering/template.hbs -->

<!-- {{outlet}} -->

<h3> Engineering Team Members </h3>
<div class="row">
  {{#each model as |engineer|}}
    <div class="col-sm-4">
      {{#link-to 'team.engineer' engineer tagName="h4"}} {{engineer.givenName}} {{/link-to}}
    </div>
  {{/each}}
</div>
