<!-- app/products/template.hbs -->

<!-- {{outlet}} -->
<h2> Product Listings </h2>
<ul>
  {{#each model as |product|}}
   {{#link-to 'product' product tagName='li'}} {{product.name}} {{/link-to}}
  {{/each}}
</ul>
